{{ header }}{{ column_left }}
<main id="page-content" class="page-content">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="card">
        <div class="card-header py-3 bg-transparent">
          <div class="d-sm-flex align-items-center">
            <h5 class="mb-2 mb-sm-0">Yerel Birimler Formu</h5>
            <div class="ms-auto">
              <button type="submit" form="form-birimler" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary btn-sm">
                <i class="bi bi-save"></i>
              </button>
              <a href="{{ cancel }}" type="button" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light border border-dark shadow-sm btn-sm bg-white">
                <i class="bi bi-arrow-counterclockwise"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="card-body">
          <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-birimler" class="row g-3">
            
            <div class="col-12">
              <label class="form-label" for="input-name">{{ entry_name }}</label>
              <input type="text"  name="name" value="{{ name }}" placeholder="{{ "Birim Adı" }}" class="form-control"/>
              {% if error_name %}
                  <div class="text-danger">{{ error_name }}</div>
                  {% endif %}
            </div>


            <div class="col-12">
              <label class="form-label d-block">{{"Durumu:"}} (Pasif / Aktif)</label>
              <div class="form-check form-switch">
                 {% if status  %} {% set checked = 'checked' %} {% else %}{% set checked = '' %} {% endif %}
                <input class="form-check-input" type="checkbox" {{ checked }} name="status" value="1" id="statusSwitch"
                       style="width:3rem;height:1.5rem;">
                
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  {{ footer }}
</main>
<script>
var error_warning = '{{error_warning}}';
var success = '{{success}}';
$(document).ready(function() {
     if(error_warning) {
      alerterror(error_warning);
     }

     if (success) {
	  alertsuccess(success);
    }
});
</script>

