<!doctype html>
<html lang="tr" class="bs-redesign {{theme}} {{header_color}}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--plugins-->
   <link href="view/stylesheet/plugins/simplebar/css/simplebar.css?v=12587777" rel="stylesheet" />
    <link rel="stylesheet" href="view/stylesheet/plugins/notifications/css/lobibox.min.css?v=12587777" />
    <link href="view/stylesheet/plugins/perfect-scrollbar/css/perfect-scrollbar.css?v=12587777" rel="stylesheet" />
    <link href="view/stylesheet/plugins/metismenu/css/metisMenu.min.css?v=12587777" rel="stylesheet" />
    <link href="view/stylesheet/plugins/datatable/css/dataTables.bootstrap5.min.css?v=12587777" rel="stylesheet" />
    <link href="view/stylesheet/plugins/select2/css/select2.min.css?v=12587777" rel="stylesheet" />
    <link href="view/stylesheet/plugins/select2/css/select2-bootstrap4.css?v=12587777" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="view/stylesheet/bootstrap.min.css?v=12587777" rel="stylesheet" />
    <link href="view/stylesheet/bootstrap-extended.css?v=12587777" rel="stylesheet" />
    <link href="view/stylesheet/style.css?v=12587777" rel="stylesheet" />
    <link href="view/stylesheet/icons.css?v=12587777" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css?v=12587777">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!--Theme Styles-->
    <link href="view/stylesheet/dark-theme.css?v=12587777" rel="stylesheet" />
    <link href="view/stylesheet/light-theme.css?v=12587777" rel="stylesheet" />
    <link href="view/stylesheet/semi-dark.css?v=12587777" rel="stylesheet" />
    <link href="view/stylesheet/header-colors.css?v=12587777" rel="stylesheet" />
    <link href="view/stylesheet/udef-redesign.css?v=12587777" rel="stylesheet" />
    <link href="view/stylesheet/effect-button.css?v=12587777" rel="stylesheet" />
    <!-- Custom bootstrap redesign (added) -->
    <link href="view/stylesheet/udef-bootstrap-redesign.css?v=12587778" rel="stylesheet" />
    <link rel="icon" type="image/png" href="view/image/favicon.png">
    
    <title>{{title}}</title>
</head>


<body class="pace-done">
    <div class="pace pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <!--start wrapper-->
    <div class="wrapper {% if sidebar == 1 %} toggled {% endif %}">
        <!--start top header-->
        <header class="top-header">
            <nav class="navbar navbar-expand">

                <div class="mobile-toggle-icon d-xl-none">
                    <i class="bi bi-list"></i>
                </div>
                <div class="top-navbar d-none d-xl-block">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{{home}}">Anasayfa</a>
                        </li>

                        <li class="nav-item d-none d-xxl-block">
                            <a class="nav-link" href="{{help}}">Yardım</a>
                        </li>

                    </ul>
                </div>

                <div class="search-toggle-icon d-xl-none ms-auto">
                    <i class="bi bi-search"></i>
                </div>
                <form class="searchbar d-none d-xl-flex ms-auto">
                    <div class="position-absolute top-50 translate-middle-y search-icon ms-3"><i class="bi bi-search"></i></div>
                    <input class="form-control" type="text" placeholder="Ara...">
                    <div class="position-absolute top-50 translate-middle-y d-block d-xl-none search-close-icon"><i class="bi bi-x-lg"></i></div>
                </form>


                <div class="top-navbar-right ms-3">
                    <ul class="navbar-nav align-items-center">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle dropdown-toggle-nocaret button-setting" title="Genel Ayarlar" data-bs-toggle="offcanvas" data-bs-target="#offca[...]">
                            <div class="messages ">
                                <i class="bi bi-gear me-0 "></i>
                            </div>
                        </a>
                        <li class="nav-item dropdown dropdown-large">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
                                <div class="messages">
                                    <span class="notify-badge">{{ total_duyuru }}</span>
                                    <i class="bi bi-bell-fill"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end p-0">
                                <div class="p-2 border-bottom m-2">
                                    <h5 class="h5 mb-0">GÜncel Duyurular</h5>
                                </div>
                                <div class="header-message-list p-1" >
                                    <div class="dropdown-item bg-light radius-10 mb-1">
                                        <form class="dropdown-searchbar position-relative">
                                            <div class="position-absolute top-50 start-0 translate-middle-y px-3 search-icon"><i class="bi bi-search"></i></div>
                                            <input class="form-control" type="search" placeholder="filtrele...">
                                        </form>
                                    </div>
                                     {% for duyuru in messages %}
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex align-items-center">
                                            <div class="setting-icon">
                                            <i class="bi bi-megaphone-fill text-danger"></i>
                                            </div>
                                            <div class="ms-3 flex-grow-1">
                                                <h6 class="mb-0 dropdown-msg-user">{{ duyuru.name }} <span class="msg-time float-end text-secondary">{{ duyuru.tarih }}</span></h6>
                                                <small class="mb-0 dropdown-msg-text text-secondary d-flex align-items-center">{{ duyuru.text }}</small>
                                            </div>
                                        </div>
                                    </a>
                                   {% endfor %}

                                </div>
                                <div class="p-2">
                                    <div>
                                        <hr class="dropdown-divider">
                                    </div>
                                    <a class="dropdown-item text-center" href="{{duyuru}}">
                                        Tümünü Göster
                                    </a>
                                </div>
                            </div>
                        </li>
                        
                        
                        <li class="nav-item dropdown dropdown-large">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
                                <div class="projects">
                                    <i class="bi bi-grid-3x3-gap-fill"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="row row-cols-3 gx-2">
                                   {% if level %}
                                    <div class="col">
                                        <a href="{{duyuru}}">
                                            <div class="apps p-2 radius-10 text-center">
                                                <div class="apps-icon-box mb-1 text-white bg-primary bg-gradient">
                                                    <i class="bi bi-bell-fill"></i>
                                                </div>
                                                <p class="mb-0 apps-name">Duyurular</p>
                                            </div>
                                        </a>
                                    </div>
                                     {% endif %}
                                      {% if parent_id == 1 %}
                                    <div class="col">
                                        <a href="{{basvuru}}">
                                            <div class="apps p-2 radius-10 text-center">
                                                <div class="apps-icon-box mb-1 text-white bg-danger bg-gradient">
                                                    <i class="bi bi-file-earmark-check-fill"></i>
                                                </div>
                                                <p class="mb-0 apps-name">Başvurular</p>
                                            </div>
                                        </a>
                                    </div>
                                     {% endif %}
                                    <div class="col">
                                        <a href="{{etkinlik}}">
                                            <div class="apps p-2 radius-10 text-center">
                                                <div class="apps-icon-box mb-1 text-white bg-success bg-gradient">
                                                    <i class="bi bi-calendar-event"></i>
                                                </div>
                                                <p class="mb-0 apps-name">Etkinlikler</p>
                                            </div>
                                        </a>
                                    </div>
                                     {% if parent_id == 1 %}
                                    <div class="col">
                                        <a href="{{talep}}">
                                            <div class="apps p-2 radius-10 text-center">
                                                <div class="apps-icon-box mb-1 text-white bg-orange bg-gradient">
                                                    <i class="bi bi-exclamation-circle-fill"></i>
                                                </div>
                                                <p class="mb-0 apps-name">Talepler</p>
                                            </div>
                                        </a>
                                    </div>
                                     {% endif %}
                                     
                                    <!-- rest kept unchanged to preserve functionality -->
                                </div>
                                <!--end row-->
                            </div>
                        </li>
                        

                       {% if parent_id == 2 and dogrulama == 0 %}
                        <li class="nav-item dropdown dropdown-large d-none" >
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="tooltip" placement="bottom" title="E-posta doğrulama uyarısı" href="#" data-bs-toggle="dropdown[...]">
                            <div class="projects">
                            <i class="bi bi-exclamation-circle-fill text-danger" style="font-size: 2rem;"></i>

                            </div>
                        </a>
                        
                        <div class="dropdown-menu dropdown-menu-end p-3" style="min-width: 300px;">
                            <div class="alert alert-warning d-flex align-items-center mb-1" role="alert">
                               <small><i class="bi bi-exclamation-triangle-fill me-2"></i> E-posta adresiniz doğrulanmamış.</small>
                            </div>
                             {% if dogrulama == 0 %}
                            <a href="javascript:void(0);" onclick="epostaDogrulama();" class="btn btn-sm btn-warning">Şimdi Doğrula</a>
                              {% endif %}
                        </div>
                        </li>
                         {% endif %}

                        <li class="nav-item dropdown dropdown-large">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
                                <div class="user-setting d-flex align-items-center gap-1">
                                    <div class="avatar avatar-30" data-avatar-name="{{username}}" style="background-color: rgb(181, 64, 173);">
                                        <span class="avatar-initials">{{ username|slice(0,2)|upper }}</span>
                                     </div>
                                    <div class="user-name d-none d-sm-block">{{username}}</div>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="{{profil}}">
                                        <div class="d-flex align-items-center">
                                            {% if user_image %}
                                            <img src="{{user_image}}" alt="" class="rounded-circle" width="30" height="30">
                                            {% else %}
                                            <img src="view/image/circle-logo.png" alt="" class="rounded-circle" width="30" height="30">
                                            {% endif %}
                                            <div class="ms-3">
                                                <h6 class="mb-0 dropdown-user-name">{{username}} </h6>
                                                <small class="mb-0 dropdown-user-designation text-secondary">{{user_parent}}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{profil}}">
                                        <div class="d-flex align-items-center">
                                            <div class="setting-icon"><i class="bi bi-person-fill"></i></div>
                                            <div class="setting-text ms-3"><span>{{"Profil"}}</span></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                {% if admin_login_by_store %}
                                <li>
                                    <a class="dropdown-item" href="{{login}}">
                                        <div class="d-flex align-items-center">
                                            <div class="setting-icon"><i class="bi bi-person-fill"></i></div>
                                            <div class="setting-text ms-3"><span>{{ "Admine Geç" }}</span></div>
                                        </div>
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item" href="{{logout}}">
                                        <div class="d-flex align-items-center">
                                            <div class="setting-icon"><i class="bi bi-lock-fill"></i></div>
                                            <div class="setting-text ms-3"><span>{{"çıkış"}}</span></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

        <div id="alert"></div>

       

<style>
    body {
    font-size : {{font_setting}}px;
    }

</style>
