{{ header }}{{ column_left }}
<main id="universiteler" class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-sm-flex align-items-center mb-3">

        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{home}}"><i class="bx bx-home-alt"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{breadcrumb.text}}</li>
                    {% endfor %}
                </ol>
            </nav>
        </div>

        <div class="ms-auto text-end me-3">

            <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary btn-sm"><i class="bi bi-plus-lg"></i> Ekle</a>
            <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger btn-sm" onclick="confirm('{{ text_confirm }}') ? $('#form-information').submit() : false;"><i class="bi bi-trash"></i> Sil</button>
        </div>
    </div>
    <!--end breadcrumb-->

    <div class="row">
        <div class="col-12 col-lg-12 d-flex">
            <div class="card w-100">

                <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-information">
                    <div class="card-body">

                        <div class="table-responsive-sm">
                            <table class="table table-striped table-bordered table-hover align-middle mb-0">
                                <thead class="align-middle" style="background-color:#018bd3;color:#fff;font-weight:bold;">
                                    <tr>
                                        <th style="width: 1px;" class="text-center">
                                        <input type="checkbox" class="form-check-input" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></th>
                                        <th class="text-start">{{ "Birim Adı" }}</th>
                                        <th class="text-start">{{ "Sorumlu Kişi" }}</th>
                                        <th class="text-center">{{ "Durumu" }}</th>
                                        {% if userGroupId == 1 %}
                                        <th class="text-end" style="width:1%;">{{ "Eylem" }}</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody class="bg-light">
                                    {% if birimler %}
                                    {% for birim in birimler %}
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" class="form-check-input" name="selected[]" value="{{ univer.universite_id }}" />
                                        </td>
                                        <td class="text-start">{{ birim.name }}</td>
                                        <td class="text-start">
                                        <div style="max-height:40px; overflow-y:auto; white-space:normal;">
                                          {{ birim.personel }}
                                        </div>
                                      </td>
                                        <td class="text-center">
                                            {% if birim.status == 1 %}
							                             <span class="badge bg-success"> {{ "Aktif" }} </span>
                                            {% else %} 
                                            <span class="badge bg-light"> {{ "Aktif" }} </span>
                                            {% endif %}
                                        </td>
                                        {% if userGroupId == 1 %}
                                        <td class="text-right">

                                            <a href="{{ birim.edit }}" data-toggle="tooltip" title="{{ "Düzenle" }}" class="btn btn-info btn-sm"><i class="bi bi-pencil"></i></a>

                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td class="text-center" colspan="3">{{ text_no_results }}</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>

                         <div class="row mt-3">
  <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
    {{ pagination }}
  </div>
  <div class="col-12 col-sm-6 small text-muted text-center text-sm-end">
    {{ results }}
  </div>
</div>
                </form>
            </div>
        </div>


    </div>

    {{footer}}
</main>
<script>
var error_warning = '{{error_warning}}';
var success = '{{success}}';
$(document).ready(function() {
     if(error_warning) {
      alerterror(error_warning);
     }

     if (success) {
	  alertsuccess(success);
    }
});
</script>