<div class="modal fade" id="modal-harcamalar" tabindex="-1" aria-labelledby="tabloModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="form-harcama">
          <div class="table-responsive-sm">
            <table id="table-odeme" class="table table-bordered align-middle mb-0">

                <thead class="align-middle" style="background-color:#018bd3;color:#fff;font-weight:bold;">
                <tr>
                  <th colspan="10" >
                    Harcama Tablosu
                    <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
                  </th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th style="width:1%;">ID</th>
                  <th >Tarih</th>
                  <th>Tür</th>
                  <th>Gider Kategorisi</th>
                  <th>Proje</th>
                  <th>Tutar</th>
                  <th >Açıklama</th>
                  <th colspan="2" style="width:1%;">Eylem</th>
                </tr>
              </thead>
              <tbody id="harcama-tbody">
                {% set harcama_row = 0 %}
                {% for harcama in harcamalar %}
                <tr id="list{{harcama.gorev_yonetimi_harcama_id}}">
                  <td>#{{harcama.gorev_yonetimi_harcama_id}}
                  <input type="hidden" class="form-control form-control-sm " name="harcama[{{harcama_row}}][gorev_yonetimi_harcama_id]" value="{{harcama.gorev_yonetimi_harcama_id}}" >
               
                  </td>

                  <!-- Tarih -->
                  <td>
                    <span class="cell-view">{{harcama.tarih}}</span>
                    <input type="date" class="form-control form-control-sm cell-edit" name="harcama[{{harcama_row}}][tarih]" value="{{harcama.tarih_value}}" style="display:none;">
                  </td>

                  <!-- Tür -->
                  <td>
                    <span class="cell-view">{{harcama.tur}}</span>
                    <input type="text" class="form-control form-control-sm cell-edit auto-complete" data-for="3" name="harcama[{{ harcama_row }}][tur]" value="{{harcama.tur}}" style="display:none;">
                    <input type="hidden" class="form-control form-control-sm input-hidden" data-for="3" name="harcama[{{harcama_row}}][tur_id]" value="{{harcama.tur_id}}">
                  </td>

                  <!-- Gider Kategorisi -->
                  <td>
                    <span class="cell-view">{{harcama.gider_category}}</span>
                    <input type="text" class="form-control form-control-sm cell-edit auto-complete" data-for="6" name="harcama[{{harcama_row}}][gider_category]" value="{{harcama.gider_category}}" style="display:none;">
                    <input type="hidden" class="form-control form-control-sm input-hidden" data-for="6" name="harcama[{{harcama_row}}][gider_category_id]" value="{{harcama.gider_category_id}}">
                  </td>

                  <!-- Proje -->
                  <td>
                    <span class="cell-view">{{harcama.proje}}</span>
                    <input type="text" class="form-control form-control-sm cell-edit" name="harcama[{{ harcama_row }}][proje]" value="{{harcama.proje}}" style="display:none;">
                    <input type="hidden" class="form-control form-control-sm input-hidden" name="harcama[{{ harcama_row }}][proje_id]" value="{{harcama.proje_id}}">
                  </td>

                  <!-- Tutar -->
                  <td>
                    <span class="cell-view">{{harcama.tutar}} ₺</span>
                    <input type="text" step="0.01" class="form-control form-control-sm cell-edit" name="harcama[{{ harcama_row }}][tutar]" value="{{harcama.tutar_value}}" data-mask="#.##,00" style="display:none;">
                  </td>

                  <!-- Başlık -->
                  <td>
                    <span class="cell-view">{{harcama.title}}</span>
                    <input type="text" class="form-control form-control-sm cell-edit" name="harcama[{{ harcama_row }}][title]" value="{{harcama.title}}" style="display:none;">
                  </td>

                  <!-- Düzenle / Sil -->
                  <td class="text-end">
                    <span onclick="editRow('{{harcama.gorev_yonetimi_harcama_id}}');" class="btn btn-info btn-sm btn-btn" title="Düzenle">
                      <i class="bi bi-pencil"></i>
                    </span>
                    <span onclick="document.getElementById('button-modal-harcama').click();" class="btn btn-success btn-sm btn-btn" title="Kaydet" style="display:none;">
                      <i class="fbi bi-save"></i>
                    </span>
                  </td>
                  <td class="text-end">
                    <button type="button" onclick="removeharcama('{{harcama.gorev_yonetimi_harcama_id}}');" class="btn btn-danger btn-sm delete-btn" title="Sil">×</button>
                  </td>
                </tr>
                {% set harcama_row = harcama_row + 1 %}
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-end" colspan="10">
                    <span onclick="addHarcama();" class="btn btn-info btn-sm add-btn" title="Ekle">+</span>
                  </td>
                </tr>
                <tr>
                  <td class="text-start" colspan="5">
                    <button type="button" id="button-modal-trasfer" data-bs-toggle="tooltip" title="{{button_transfer_title}}" class="btn btn-warning" {{button_transfer_disabled}}>
                      <i class="bi bi-upload"></i> Harcamaları Aktar
                    </button>
                  </td>
                  <td class="text-end" colspan="5">
                    <button type="button" id="button-modal-harcama" class="btn btn-primary" disabled>Kaydet</button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
$('#button-modal-harcama').on('click', function() {
    var gorev_yonetimi_id = $('#form-gorev_yonetimi_id').val();

    $.ajax({
      url: 'index.php?route=personeller/gorev_yonetimi/saveHarcama&user_token={{ user_token }}&gorev_yonetimi_id=' + gorev_yonetimi_id,
      type: 'post',
      dataType: 'json',
      data: $('#form-harcama').serialize(),
      success: function(json) {

       if (json.error.warning) {
          alerterror(json.error.warning);
       }

       if (json.error.birim) {
          alerterror(json.error.birim);
       }
       
       if (json.success) {
         $('#form-harcama').remove();
         
         $('#modal-harcamalar').css('z-index', '1090');
         functionView(gorev_yonetimi_id,0);
         $('#gorev-data').load('index.php?route=personeller/gorev_yonetimi/dataGorev&user_token={{ user_token }}');
          alertsuccess(json.success);
          dokumanHarcama();
          }
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
 });
</script>    
<script>
function removeharcama(id) {
   var gorev_yonetimi_id = $('#form-gorev_yonetimi_id').val();
    if (confirm('Dikkat : Bu işlem geri alınamaz. Bu harcamayı silmek istediğinize emin misiniz?') == false) {    
        exit();
    }

    $.ajax({
      url: 'index.php?route=personeller/gorev_yonetimi/deleteHarcama&user_token={{ user_token }}&gorev_yonetimi_id=' + gorev_yonetimi_id  + '&gorev_yonetimi_harcama_id=' + id,
      type: 'post',
      dataType: 'json',
      success: function(json) {
       if (json.error.warning) {
          alerterror(json.error.warning);
       }

       if (json.success) {
       
       functionView(gorev_yonetimi_id,0);
        $('#gorev-data').load('index.php?route=personeller/gorev_yonetimi/dataGorev&user_token={{ user_token }}');
        $('#form-harcama').empty();
        dokumanHarcama();
       }
         
      },
             
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }

 function editRow(id) {
    var row = $('#list' + id);
    row.find('span.cell-view').hide();
     row.find('span.btn-btn').toggle();
    row.find('input.cell-edit').show();
    $('#button-modal-harcama').prop('disabled', false);
    harcamaAutocomplete(row);
}
</script>

<script>
function addHarcama() {
    // Mevcut tablo satır sayısını al (tbody içindeki <tr> sayısı)
    let harcama_row = $('#modal-harcamalar table tbody tr').length;
    let newRowId = harcama_row + 1; 

    // Yeni satır HTML'ini oluştur
    let newRow = `
        <tr id="row${newRowId}">
            <td>#${newRowId}
            <input type="hidden" class="form-control input-sm" value="0" name="harcama[${harcama_row}][gorev_yonetimi_harcama_id]">
            </td>
            <td><input type="date" class="form-control input-sm" name="harcama[${harcama_row}][tarih]"></td>
            <td>
             <input type="text" class="form-control input-sm auto-complete" placeholder="Tür Seçin" data-for="3"  name="harcama[${harcama_row}][tur]" readonly>
              <input type="hidden" class="form-control input-sm input-hidden" data-for="3"  name="harcama[${harcama_row}][tur_id]">
            </td>
            <td>
             <input type="text" class="form-control input-sm auto-complete" placeholder="Gider Kategorisi" data-for="6" name="harcama[${harcama_row}][gider_category]" >
             <input type="hidden" class="form-control input-sm input-hidden"  name="harcama[${harcama_row}][gider_category_id]">
             </td>
            <td >
            <input type="text" class="form-control input-sm" name="harcama[${harcama_row}][proje]" value="{{proje}}" >
            <input type="hidden" class="form-control input-sm" name="harcama[${harcama_row}][proje_id]" value="{{proje_id}}">
            </td>
            <td style="display:none;"><input type="text" class="form-control input-sm" name="harcama[${harcama_row}][birim_id]" value="{{birim_id}}"></td>
            <td><input type="text" class="form-control input-sm" name="harcama[${harcama_row}][tutar]" data-mask="#.##,00" placeholder="Tutar"></td>
            <td><input type="text" class="form-control input-sm" name="harcama[${harcama_row}][title]" placeholder="Açıklama"></td>
            
            <td class="text-right">
                <span class="btn btn-danger btn-sm delete-btn" data-row="row${newRowId}" title="Sil">×</span>
            </td>
        </tr>
    `;

    // Yeni satırı tabloya ekle
    $('#modal-harcamalar table tbody').append(newRow);
    $('#button-modal-harcama').prop('disabled', false);
    harcamaAutocomplete(newRow);
   }


  $(document).on('click', '.delete-btn', function() {
      const rowId = $(this).data('row');
      $('#' + rowId).remove();
  });
</script>

<script>
function harcamaAutocomplete(row) {
  $('#harcama-tbody .auto-complete').autocomplete({
    source: function(request, response) {
      $.ajax({
        url: 'index.php?route=setting/autocomplete/gelirgroupautocomplete&user_token={{ user_token }}&bolum=' + $(this).attr('data-for') + '&filter_name=' + encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item.name,
              label2: item.disabled,
              value: item.id
            };
          }));
        }
      });
    },
    select: function(item) {
      $(this).val(item.label);
      $(this).closest('td').find('.input-hidden').val(item.value);
    }
  });
}

</script>

<script>
$('#button-modal-trasfer').on('click', function() {
    var gorev_yonetimi_id = $('#form-gorev_yonetimi_id').val();

    if (confirm('Dikkat : Bu göreve ait tüm harcamalar mali gider tablolarına aktarılacak, bunu onaylıyor musunuz?') == false) {    
        exit();
    }

    $.ajax({
      url: 'index.php?route=personeller/gorev_yonetimi/addTransfer&user_token={{ user_token }}&gorev_yonetimi_id=' + gorev_yonetimi_id,
      type: 'post',
      dataType: 'json',

      beforeSend: function() {
					$('#button-modal-trasfer').button('loading'); 
		  },
     
      success: function(json) {

       if (json.error.warning) {
           alerterror(json.error.warning);
       }

       if (json.success) {  
         $('#button-modal-trasfer').button('reset');
         $('.modal').modal('hide');   
         alertsuccess(json.success);
        }
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
 });
</script>  


