{{ header }}{{ column_left }}
<main id="bolumler" class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-sm-flex align-items-center mb-3">

        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{home}}"><i class="bx bx-home-alt"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{breadcrumb.text}}</li>
                    {% endfor %}
                </ol>
            </nav>
        </div>

        <div class="ms-auto text-end me-3">
         
         <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary btn-sm"><i class="bi bi-plus-lg"></i> Ekle</a>
         <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger btn-sm" onclick="confirm('{{ text_confirm }}') ? $('#form-fakulte').submit() : false;"><i class="bi bi-trash"></i> Sil</button>
        </div>
    </div>
    <!--end breadcrumb-->

    <div class="row">
        <div class="col-12 col-lg-12 d-flex">
            <div class="card w-100">
                <div class="card-header py-3">
                    <div class="row g-3">
                        <div class="col-12 me-auto">
                            <div class="ms-auto position-relative">
                                <div class="position-absolute top-50 translate-middle-y search-icon px-2"><i class="bi bi-search"></i></div>
                                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ "Para birimini yazınız." }}" id="input-bolum" class="form-control form-control-lg ps-4">
                            </div>
                        </div>

                    </div>
                </div>
                <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-fakulte">
                    <div class="card-body">

                        <div class="table-responsive-sm">
                            <table class="table table-striped table-bordered table-hover">
                                   <thead class="align-middle" style="background-color:#018bd3;color:#fff;font-weight:bold;">
                                   <tr>
  <th style="width: 1px;" class="text-center">
    <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" />
  </th>
  <th class="text-start">{{ column_title }}</th>
  <th class="text-start">{{ column_code }}</th>
  <th class="text-right">{{ column_value }}</th>
  <th class="text-start">{{ column_date_modified }}</th>
  <th class="text-right" style="width:1%;">{{ "Durumu" }}</th>
  <th class="text-right" style="width:1%;">{{ column_action }}</th>
</tr>
                                   </thead>
                                 <tbody>
                {% if currencies %}
                {% for currency in currencies %}
                <tr>
                  <td class="text-center">
                    <input type="checkbox" class="form-check-input" name="selected[]" value="{{ currency.currency_id }}"  />
                  
                    </td>
                  <td class="text-start">{{ currency.title }}</td>
                  <td class="text-start">{{ currency.code }}</td>
                  <td class="text-right">{{ currency.value }}</td>
                  <td class="text-start">{{ currency.date_modified }}</td>
                  <td class="text-start"><span class="badge {% if currency.status == 'Aktif' %} bg-success {% else %} bg-danger {% endif %}">{{ currency.status }}</td>
                  <td class="text-end"><a href="{{ currency.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-info btn-sm"><i class="bi bi-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="6">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
                                 </table>
                        </div>

                        <div class="row mt-3">
  <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
    {{ pagination }}
  </div>
  <div class="col-12 col-sm-6 small text-muted text-center text-sm-end">
    {{ results }}
  </div>
</div>
                </form>
            </div>
        </div>


    </div>

    {{footer}}
</main>
<script>
var error_warning = '{{error_warning}}';
var success = '{{success}}';
$(document).ready(function() {
     if(error_warning) {
      alerterror(error_warning);
     }

     if (success) {
	  alertsuccess(success);
    }
});
</script>