{{ header }}{{ column_left }}
 <main class="page-content" >
            <!--breadcrumb-->
            <div class="page-breadcrumb d-sm-flex align-items-center mb-3">
             
              <div class="ps-3">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0 p-0">
				    {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{home}}"><i class="bx bx-home-alt"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{breadcrumb.text}}</li>
					{% endfor %}
                  </ol>
                </nav>
              </div>
			  
                <div class="ms-auto text-end me-3">
			   
				{% if store_id == 0  %}
				 <button type="button" onclick="confirm('{{ text_confirm }}') ? $('#form-customer').submit() : false;" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i> Sil</button>
				{% endif %}
				
              </div>
            </div>
            <!--end breadcrumb-->

              <div class="row">
                 <div class="col-12 col-lg-12 d-flex">
                   <div class="card w-100">
                    <div class="card-header py-3">
                      <div class="row g-3">
                        <div class="col-lg-3 col-6 me-auto">
                          <div class="ms-auto position-relative">
                            <div class="position-absolute top-50 translate-middle-y search-icon px-2"><i class="bi bi-search"></i></div>
                            <input type="text" name="filter_name" id="filter-name" value="{{ filter_name }}" class="form-control ps-4 auto-filter" placeholder="Öğrenci adı ile ara...">
                          </div>
                        </div>
						<div class="col-lg-1 col-6 me-auto">
                          <div class="ms-auto position-relative">
                            <div class="position-absolute top-50 translate-middle-y search-icon px-2"><i class="bi bi-search"></i></div>
                            <input type="text" name="filter_country" id="filter-telephone" value="{{ filter_country }}"  class="form-control ps-4" placeholder="Ülkesi...">
                          <input type="hidden" name="f_country_id" value="{{ f_country_id }}" id="input-country" class="form-control auto-filter"/>
						  </div>
                        </div>
						 <div class="col-lg-1 col-6 col-md-3">
                          <select name="filter_bolge" class="form-select auto-filter">
							<option value="">{{text_all}}</option>
						   {% for bolge in bolgeler %}
                           <option value="{{ bolge.bolge_id }}" {% if filter_bolge == bolge.bolge_id %} selected="selected" {% endif %}>{{bolge.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
						<div class="col-lg-2 col-6 me-auto">
                          <div class="ms-auto position-relative">
                            <div class="position-absolute top-50 translate-middle-y search-icon px-2"><i class="bi bi-search"></i></div>
                            <input type="text" name="filter_telephone" id="filter-telephone" value="{{ filter_telephone }}"  class="form-control ps-4 auto-filter" placeholder="Telefon...">
                          </div>
                        </div>
						<div class="col-lg-1 col-6 me-auto">
                          <div class="ms-auto position-relative">
                            <div class="position-absolute top-50 translate-middle-y search-icon px-2"><i class="bi bi-search"></i></div>
                            <input type="text" name="filter_kimlik" id="filter-kimlik" value="{{ filter_kimlik }}"  class="form-control ps-4 auto-filter" placeholder="Kimlik No...">
                          </div>
                        </div>
						 <div class="col-lg-1 col-6 col-md-3">
                          <select name="filter_store" class="form-select auto-filter">
							<option value="">{{text_all}}</option>
						   {% for store in stores %}
                           <option value="{{ store.store_id }}" {% if filter_store == store.store_id %} selected="selected" {% endif %}>{{store.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
						 <div class="col-lg-1 col-6 col-md-3">
                          <select name="filter_gender" class="form-select auto-filter">
							<option value="" >{{ text_all }}</option>
							<option value="K" {% if filter_gender == "K" %} selected="selected" {% endif %}>{{ text_bayan }}</option>
							<option value="E" {% if filter_gender == "E" %} selected="selected" {% endif %}>{{ text_bay }}</option>
                          </select>
                        </div>
                        <div class="col-lg-1 col-6 col-md-3">
                          <select name="filter_status" class="form-select auto-filter">
						  <option value="" {% if filter_status == '' %} selected="selected" {% endif %}>{{ text_all }}</option>
						  {% for key,value in status_array %}
                             <option value="{{key}}" {% if filter_status == key and filter_status != '' %} selected="selected" {% endif %}>{{ value }}</option>
						 {% endfor %}
                          </select>
                        </div>
                        <div class="col-lg-1 co1-6 col-md-3">
                          <select name="limit" class="form-select auto-filter">
						   {% for key,value in limits %}
						   <option value="{{value}}" {% if filter_limit == value %} selected="selected" {% endif %}>{{value}}</option>
						   {% endfor %}
                          </select>
                        </div>
                      </div>
                     </div>
					  <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-customer">
                     <div class="card-body" >
					
                       <div class="table-responsive-sm" >
                         <table class="table table-bordered table-striped align-middle mb-0">
                           <thead class="align-middle" style="background-color:#018bd3;color:#fff;font-weight:bold;">
                             <tr>
                               <th style="width:1px;"><input class="form-check-input" type="checkbox" onclick="$('input[name*=\'selected\']').trigger('click');"></th>
                               <th >Ad Soyad</th>
                               <th >Ülke / Bölge</th>
                               <th>Telefon</th>
							    <th>Kimlik</th>
							    <th >Derneği</th>
							    <th>Cins.</th>
							    <th>Durumu</th>
								<th>K.Tarihi</th>
                               <th class="text-center">Eylem</th>
                             </tr>
                           </thead>
                           <tbody>
						     {% for customer in customers %}
                             <tr>
                               <td><input class="form-check-input" type="checkbox" name="selected[]" value="{{ customer.customer_id }}"></td>
                               <td style="width:20%;">{{customer.name}}</td>
                               <td>{{customer.country['name']}} / {{customer.bolge['name']}}</td>
							   
							   <td>{{customer.telephone}}</td>
							   <td>{{customer.kimlikno}}</td>
							   <td >{{customer.store['name']}}</td>
							   <td class="text-center">{{customer.gender}}</td>
                               <td>
							    {% if customer.status == 0 %}
							     <span class="badge bg-light-secondary text-white w-100">{{ text_disabled }}</span>
							    {% elseif customer.status == 1 %}
							     <span class="badge bg-light-success text-dark w-100">{{ text_enabled }}</span>
							    {% elseif customer.status == 2 %}
							     <span class="badge bg-light-warning text-dark w-100">{{ "Mezun" }}</span>
							    {% elseif customer.status == 3 %}
							     <span class="badge bg-light-info text-dark w-100">{{ "Onay Bekliyor" }}</span>
							    {% endif %}
							   </td>
                               <td>{{customer.date_added}}</td>
                               <td>
							  <div class="d-flex justify-content-end gap-2 fs-5">
								<!-- Edit button stays outside -->
								<a href="{{customer.edit}}" class="btn btn-info btn-sm" 
								   data-bs-toggle="tooltip" data-bs-placement="bottom" 
								   title="Düzenle" aria-label="Edit">
								  <i class="bi bi-pencil-fill"></i>
								</a>

								<!-- Dropdown for other actions -->
								<div class="btn-group">
								  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" 
										  data-bs-toggle="dropdown" aria-expanded="false">
									
								  </button>
								  <ul class="dropdown-menu dropdown-menu-end">
									<li>
									  <a class="dropdown-item text-warning" href="{{customer.info}}" target="_blank"
										 data-bs-toggle="tooltip" title="Öğrenci Profil Kartı" aria-label="Views">
										<i class="bi bi-eye-fill"></i> Profil Kartı
									  </a>
									</li>
									<li>
									  <a class="dropdown-item text-dark" href="{{customer.login}}" target="_blank"
										 data-bs-toggle="tooltip" title="Öğrenci hesabıyla oturum aç" aria-label="Login">
										<i class="bi bi-lock-fill"></i> Öğrenci Girişi
									  </a>
									</li>
									<li>
									  <a class="dropdown-item text-purple password-reset" href="javascript:void(0);" 
										 id="{{customer.customer_id}}" data-bs-toggle="tooltip" 
										 title="Parola Sıfırlama" aria-label="reset">
										<i class="bi bi-arrow-clockwise"></i> Parola Sıfırla
									  </a>
									</li>
								  </ul>
								</div>
							  </div>
							</td>
                             </tr>
							  {% endfor %}
                             
                           </tbody>
                         </table>
						  </div>
                       <div class="row mt-3">
  <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
    {{ pagination }}
  </div>
  <div class="col-12 col-sm-6 small text-muted text-center text-sm-end">
    {{ results }}
  </div>
</div>
					
					  </form>
                     </div>
					 
                   </div>

				   
                 </div>
	{{footer}}			 
</main>

<script type="text/javascript"><!--
$('.auto-filter').on('change', function() {
   $('#cover-spin').show(0);
  url = 'index.php?route=ortaogretim/ogrenci&user_token={{ user_token }}';

  if ($('input[name=\'filter_name\']').val()) {
		url += '&filter_name=' + encodeURIComponent($('input[name=\'filter_name\']').val());
	}

   if ($('select[name=\'f_country_id\']').val()) {
		url += '&f_country_id=' + encodeURIComponent($('select[name=\'f_country_id\']').val());
	}

	if ($('select[name=\'filter_bolge\']').val()) {
		url += '&filter_bolge=' + encodeURIComponent($('select[name=\'filter_bolge\']').val());
	}

  if ($('select[name=\'filter_store\']').val()) {
		url += '&filter_store=' + encodeURIComponent($('select[name=\'filter_store\']').val());
	}

	if ($('select[name=\'filter_gender\']').val()) {
		url += '&filter_gender=' + encodeURIComponent($('select[name=\'filter_gender\']').val());
	}

	if ($('select[name=\'filter_status\']').val()) {
		url += '&filter_status=' + encodeURIComponent($('select[name=\'filter_status\']').val());
	}

	if ($('select[name=\'limit\']').val()) {
		url += '&limit=' + encodeURIComponent($('select[name=\'limit\']').val());
	}

	location = url;
});

$('#button-clear').on('click', function() {
	url = 'index.php?route=ortaogretim/ogrenci&user_token={{ user_token }}';
	location = url;
});
//--></script>
<script type="text/javascript"><!--
$('input[name=\'filter_name\']').autocomplete({
	 
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['customer_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		 $('input[name=\'filter_name\']').val(item['label']);
     $('input[name=\'filter_name\']').trigger('change');
	}
});

$('input[name=\'filter_country\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=setting/autocomplete/countryautocomplete&user_token={{ user_token }}&filter_country=' + encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				json.unshift({
            name: '--Tümünü Seç--',
            value: '',
        });
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['country_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_country\']').val(item['label']);
		$('input[name=\'f_country_id\']').val(item['value']);
		$('input[name=\'f_country_id\']').trigger('change');
	}
});

$('input[name=\'filter_kimlik\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_kimlik=' + encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['kimlikno'],
						value: item['customer_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_kimlik\']').val(item['label']);
		$('input[name=\'filter_kimlik\']').trigger('change');
	}
});

$('input[name=\'filter_telephone\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=customer/customer/autocomplete&user_token={{ user_token }}&filter_telephone=' + encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['telephone'],
						value: item['customer_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_telephone\']').val(item['label']);
		$('input[name=\'filter_telephone\']').trigger('change');
	}
});

//--></script>
<script type="text/javascript"><!--
$('.password-reset').on('click', function() {

  if (confirm('Bir parola sıfırlama e-postası gönderilecek. Onaylıyor musunuz?') == false) {
    exit();
   }

	$.ajax({
		url: 'index.php?route=customer/customer/reset&user_token={{ user_token }}&customer_id=' + $(this).attr('id'),
		type: 'post',
		dataType: 'json',
				
		success: function(json) {
       $('.alert-dismissible').remove();

	    if (json.error.warning) {
	     $('#alert').prepend(
              '<div class="alert border-0 border-danger border-start border-2 bg-light-danger alert-dismissible fade show py-2">' +
                '<div class="d-flex align-items-center">' +
                  '<div class="fs-3 text-danger"><i class="bi bi-x-circle-fill"></i></div>' +
                  '<div class="ms-3"><div class="text-dynamic">' + json.error.warning + '</div></div>' +
                '</div>' +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
              '</div>'
            );
        }

	    if (json.success) {
	      $('#alert').append(
              '<div class="alert border-0 border-success border-start border-4 bg-light-success alert-dismissible fade show py-2">' +
                '<div class="d-flex align-items-center">' +
                  '<div class="fs-3 text-success"><i class="bi bi-check-circle-fill"></i></div>' +
                  '<div class="ms-3"><div class="text-dynamic">' + json.success + '</div></div>' +
                '</div>' +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
              '</div>'
            );  
         }
         
		 },
		 
     error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }

	});
	
});
//--></script>
<script>
var error_warning = '{{error_warning}}';
var success = '{{success}}';
$(document).ready(function() {
     if(error_warning) {
      alerterror(error_warning);
     }

     if (success) {
	  alertsuccess(success);
    }
});
</script>
