    <div class="table-responsive-sm">
        <form id="form-developer">
            <input type="hidden" name="filter_url" value="{{filter_url}}">
            <table id="table-bagisci" class="table table-bordered align-middle mb-0 ">
                
                <thead class="align-middle" style="background-color:#018bd3;color:#fff;font-weight:bold;">
                    <tr>
                        <td class="text-start" style="width:20%">{{ "Ad Soyad" }}</td>
                        <td class="text-start">{{ "Telefon" }}</td>
                        <td class="text-start">{{ "E-Posta" }}</td>
                        <td class="text-start">{{ "Ülke" }}</td>
                        <td class="text-start">{{ "İl/İlçe" }}</td>
                        <td class="text-center" colspan="3" style="width:1%">{{ "Eylem" }}</td>

                    </tr>
                </thead>
                <tbody class="data-list">
                    {% if bagiscilar %}
                    {% set row = 1 %}
                    {% for bagisci in bagiscilar %}

                    <tr id="data-list{{bagisci.bagisci_id}}">
                        <td id="{{ bagisci.bagisci_id }}" class="text-start">{{bagisci.name}} </td>
                        <td id="{{ bagisci.bagisci_id }}" class="text-start item">{{ bagisci.telefon }}</td>
                        <td id="{{ bagisci.bagisci_id }}" class="text-start item">{{ bagisci.email }}</td>
                        <td id="{{ bagisci.bagisci_id }}" class="text-start item">{{ bagisci.country }}</td>
                        <td id="{{ bagisci.bagisci_id }}" class="text-start item">{{ bagisci.sehir }}</td>
                       <td class="text-center">
                           <a href="{{bagisci.info}}" target="_blank" data-toggle="tooltip" title="{{"Bağışçı geçmişi"}}" class="btn btn-outline-warning btn-sm"> <i class="bi bi-question-circle"></i></button>
                        </td>
                        <td class="text-center">
                            <button type="button" id="button-view" data-toggle="tooltip" title="Düzenle" onclick="functionView('{{ bagisci.bagisci_id }}','{{ bagisci.personel_id }}')" class="btn btn-info btn-sm"> <i class="bi bi-pencil"></i></button>
                        </td>

                        <td class="text-center">
                            <button type="button" id="{{bagisci.bagisci_id}}" class="btn btn-danger btn-sm button-delete"><i class="bi bi-dash-circle"></i></button>
                        </td>
                    </tr>

                    {% set row = row + 1 %}
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="text-center" colspan="6">{{"Sonuç bulunamadı"}}</td>
                    </tr>
                    {% endif %}
                </tbody>

            </table>
        </form>
    </div>

    <div class="row mt-3">
  <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
    {{ pagination }}
  </div>
  <div class="col-12 col-sm-6 small text-muted text-center text-sm-end">
    {{ results }}
  </div>
</div>

    
   <script type="text/javascript"><!--
function functionView(id) {
    $('.table tr').removeClass('bg bg-info');
    $('#data-list' + id).addClass('bg bg-info');
    $('#modal-bagisci').modal('show');

    $('#modal-bagisci input[name^=\'bagisci_id\']').val(id);
    $('#modal-bagisci input[name^=\'form\']').val("edit");

    $.ajax({
      url: 'index.php?route=finansal/bagisci/dataView&user_token={{ user_token }}&bagisci_id=' + id,
      type: 'post',
      dataType: 'json',
      success: function(json) {
       $('.alert-dismissible').remove();
       
       if (json['bagisci']) {
        $('#modal-bagisci input[name^=\'ad\']').val(json['bagisci']['ad']);
        $('#modal-bagisci input[name^=\'soyad\']').val(json['bagisci']['soyad']);
        $('#modal-bagisci input[name^=\'telefon\']').val(json['bagisci']['telefon']);
        $('#modal-bagisci input[name^=\'email\']').val(json['bagisci']['email']);
        $('#modal-bagisci select[name^=\'country_id\']').val(json['bagisci']['country_id']);
        $('#modal-bagisci select[name^=\'sehir_id\']').val(json['bagisci']['il_id']);
        $('#modal-bagisci input[name^=\'city_id\']').val(json['bagisci']['ilce_id']);
        $('#modal-bagisci select[name^=\'sehir_id\']').trigger('change');
        $('#modal-bagisci select[name^=\'gender\']').val(json['bagisci']['gender']);
        $('#modal-bagisci input[name^=\'dogum_tarihi\']').val(json['bagisci']['dogum_tarihi']);
        $('#modal-bagisci textarea[name^=\'adres\']').val(json['bagisci']['adres']);
      }
       
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });

}
 </script> 
<script>
 $('.button-delete').on('click', function() {
    if (confirm('Dikkat : Bu işlem geri alınamaz. Bu bağışçıyı silmek istediğinize emin misiniz?') == false) {    
        exit();
    }
   
    var element = $(this).attr('id');
	
     $.ajax({
      url: 'index.php?route=finansal/bagisci/deleteData&user_token={{ user_token }}&bagisci_id='  + element,
      type: 'post',
      dataType: 'json',
      success: function(json) {
       
        if (json.error.warning) {
	       $('#alert').prepend(
                '<div class="alert border-0 border-danger border-start border-2 bg-light-danger alert-dismissible fade show py-2">' +
                '<div class="d-flex align-items-center">' +
                '<div class="fs-3 text-danger"><i class="bi bi-x-circle-fill"></i></div>' +
                '<div class="ms-3"><div class="text-dynamic">' + json.error.warning + '</div></div>' +
                '</div>' +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                '</div>'
            );    
        }
         
        if (json.success) {
          $('#modal-bagisci').modal('hide');
          $('#alert').append(
            '<div class="alert border-0 border-success border-start border-4 bg-light-success alert-dismissible fade show py-2">' +
            '<div class="d-flex align-items-center">' +
            '<div class="fs-3 text-success"><i class="bi bi-check-circle-fill"></i></div>' +
            '<div class="ms-3"><div class="text-dynamic">' + json.success + '</div></div>' +
            '</div>' +
            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
            '</div>'
          );   
          $('#bagisci-data').load('index.php?route=finansal/bagisci/dataBagisci&user_token={{ user_token }}');         
        }
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });

  });

$('#button-close').on('click', function() {
    $('#modal-bagisci').modal('hide');
});

//--></script>

<script>
  $('input[name=\'filter_name\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=setting/autocomplete/bagisciautocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
         
          response($.map(json, function(item) {
            return {
              label: item['name'],
              value: item['bagisci_id'],
            }
          }));
        }
      });
    },

    'select': function(item) {
      $('input[name=\'filter_name\']').val(item['label']);
      $('input[name=\'filter_name\']').trigger('change');
     
    }
  });

  $('#cover-spin').hide(0);
</script>
   