
   <br><div class="card">
   <div class="card-header"><i class="fa-solid fa-list"></i> {{ "Kasa Raporu" }}</div>
      <div class="card-body">
      <table class="table table-bordered">
       {% if reports %}
        <thead>
          <tr>
            <th class="text-left">{{ "Kasa/Hesap" }}</th>
            <th class="text-right" style="width:15%">{{ "Tutar" }}</th>

          </tr>
        </thead>
        <tbody>
         
            {% for report in reports %}
              <tr>
                <td class="text-left">{{ report.name }}</td>
                <td class="text-right"><span {% if report.bolum == 2 %} class="text-danger" {% endif %}>{{ report.tutar }}</span></td>
              </tr>
            {% endfor %}
          
        </tbody>
        <tfoot>
          <tr>
            <td class="text-right"></td>
            <td class="text-right">Toplam : <strong>{{ gelir_toplam }}</strong></td> 
             
          </tr>
        </tfoot>
        {% else %}
            <tr>
              <td class="text-center" colspan="3">{{ text_no_results }}</td>
            </tr>
        {% endif %}
      </table>
      <div class="row ">
      <div class="col-sm-6 text-start">{{ pagination }}</div>
      <div class="col-sm-6 text-right">{{ results }}</div>
    </div>
   </div>


   
</div>

</div>
 
  
