<div class="tile tile-primary3">
  <div class="tile-heading" style="color:#070707;">{{ heading_title }} </div>
 <div class="tile-body"> <i class="fa fa-male"></i><i class="fa fa-female"></i>
    <h4 class="pull-right">Erkek&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{ etotal }}<br>
	Bayan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{ btotal }}
	</h4>
  </div>
  <div class="tile-footer"><a href="{{ customer }}">{{ text_view }}</a><span class="pull-right">Toplam : <strong>{{ gtotal }}</strong></span></div>
</div>
